img[alt=image] { width: 200px; }
img[alt=image_w200_h180] { width: 200px; height: 180px;}

img[alt=zacman_and_model_language] { float: right; width: 300px; display: block;}

.clearfloat {
    clear: both;
}
